<table mat-table [dataSource]="datasource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let el" (click)="toCase(el._id)"><a>{{el.id_cas}}</a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
    <mat-cell *matCellDef="let el">{{el.cas_nom_dossier}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="type de cas">
    <mat-header-cell *matHeaderCellDef> Type de cas </mat-header-cell>
    <mat-cell *matCellDef="let el">{{el.cas_zone_type}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="région">
    <mat-header-cell *matHeaderCellDef> Région </mat-header-cell>
    <mat-cell *matCellDef="let el">{{el.cas_zone_nom}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="résumé du cas">
    <mat-header-cell *matHeaderCellDef> Résumé du cas </mat-header-cell>
    <mat-cell *matCellDef="let el">{{el.cas_resume_web}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="année du cas">
    <mat-header-cell *matHeaderCellDef> Année du cas </mat-header-cell>
    <mat-cell *matCellDef="let el">{{el.cas_AAAA}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="nb de témoignages">
    <mat-header-cell *matHeaderCellDef> Nb de témoignages </mat-header-cell>
    <mat-cell *matCellDef="let el" (click)="toTesti(el.id_cas)"><a>{{el.cas_temoignages_nb}}</a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="date de la dernière maj">
    <mat-header-cell *matHeaderCellDef> Date de la dernière maj </mat-header-cell>
    <mat-cell *matCellDef="let el">{{el.cas_date_maj}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let el; columns: displayedColumns;"></mat-row>

</table>

 <mat-paginator #paginator
   [length]="datasource.data.length"
   [pageSize]="pagesize"
   [pageSizeOptions]="[5,10,15]"
   showFirstLastButtons></mat-paginator>
