<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">

 <mdb-navbar-brand>
   <img class="logo" src="../../assets/ufo-icon-vector.png">
 </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light"  mdbWavesEffect [routerLink]="['']">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/temoignage']">Statistiques</a>
      </li>

    </ul>
  </links>

</mdb-navbar>

