<div *ngFor="let obj of tabTem">
  <mat-card class="cardContainer">
    <mat-card-header>
      <i mat-card-avatar class="material-icons">
        dns
      </i>
      <mat-card-title>Témoignage {{obj.id_temoignage}}</mat-card-title>
      <mat-card-subtitle>{{obj.tem_nom_dossier}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>

      <div class="temoignage">
        <table>
          <tr>
            <td>
              <div class="titleInCard">Cas n* </div>{{obj.id_cas}}
            </td>
          </tr>
        </table>
      </div>

    </mat-card-content>
  </mat-card>
</div>
